body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(#000000, #1ce783);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    max-width: 200px;
    margin-bottom: 20px;
}

.login-btn, .signup-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.login-btn {
    background-color: #333;
}

.signup-btn {
    background-color: #1ce783;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #333; /* Dark grey background */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222; /* Slightly darker header for contrast */
}

header a.logo img {
    height: 50px;
}

.search-icon {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main-navigation {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #444;
}

.main-navigation a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.content {
    color: white;
    text-align: center;
    margin-top: 20px;
}
